<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title | default: "Your Site Title" }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">

  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">

  <meta name="theme-color" content="#ffffff">

  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
</head>
<body>
    {{ content }}
</body>
</html>